.header {
  width: 100%;
  text-align: center;
  background-color: black;
  padding-bottom: 25px;
  @media (max-width: $phone) {
    height: 100vh;
  }
  &__title {
    font-family: $plex-sans;
    font-weight: 600;
    font-size: 85px;
    letter-spacing: 6px;
    color: white;
    padding: 50px;
    @media (max-width: $phone) {
      padding: 0px;
      font-size: 30px;
      height: 100%;
      line-height: 80vh;
    }
  }
  &__message {
    font-family: $plex-sans;
    color: white;
    font-size: 15px;
    padding-bottom: 12px;
  }
}

.login {
	margin: 0 auto;
  &-form {
    .error {
      font-family: $plex-mono;
      font-size: 13px;
      border-color: $red;
      color: $red;
    }
    @media (max-width: $phone) {
      background-color: white;
      padding-top: 4%;
      padding-bottom: 4%;
      border-bottom: $default_border;
    }
  }

	&__text {
		font-family: $plex-mono;
		font-weight: 400;
	}

	&__input {
		padding: 4px 5px 4px 5px;
		border-radius: 5px;
		border: $default_border;
		font-family: $plex-mono;
		margin-right: 10px;
    @media (max-width: $phone) {
      display: block;
      width: 80%;
      margin: 0px auto;
      margin-bottom: 5px;
    }
		&__message {
			font-family: $plex-mono;
			font-weight: 400;
		}
	}

  &__button {
    &--login {
      border: none;
      padding: 8px 15px;
      background-color: $gray;
      font-family: $plex-mono;
      border-radius: 5px;
      &:hover {
        background-color: $red;
      }
    }
    &--logout {
      border: none;
      padding: 8px 15px;
      background-color: $red;
      font-family: $plex-mono;
      border-radius: 5px;
      &:hover {
        background-color: $gray;
      }
    }
    &--register {
      color: white;
      font-family: $plex-mono;
      margin-left: 12px;
      @media (max-width: $phone) {
        color: black;
      }
    }
  }
}

.navigation {
  background-color: white;
    &__ul {
      list-style-type: none;
      padding: 10px;
      text-align: center;
      @media screen and (max-width: $phone) {
        padding: 0px;
        margin-top: 150px;
      }
    }
    &__item {
      width: 15%;
      display: inline-block;
      padding: 16px;
      font-family: $plex-sans;
      border-left: $default_border;
      border-width: 2px;
      @media screen and (max-width: $phone) {
        width: 75%;
        margin: 0px auto;
        padding: 12px;
        border-left: none;
        position: relative;
        z-index : 1;
        &:before {
          content: "";
          left: 0;
          bottom: 0;
          height: 1px;
          border-top: 2px solid black;
          position: absolute;
          width: 10%;
          left: 45%;
        }
      }
      &--selected {
        color: $light-gray;
      }
      &--first {
        border: 0px;
      }
    }

    &__link {
      color: black;
      text-decoration: none;
    }
}
