.posts {
  margin-top: 25px;
  @media (max-width: $phone) {
    width: 90%;
    margin: 0px auto;
    margin-top: 25px;
  }
  &__title {
    margin-top: 40px;
  	text-align: center;
  	font-family: $plex-sans;
  	font-weight: 600;
  	font-size: 50px;
  	letter-spacing: 6px;
    @media (max-width: $phone) {
      font-size: 30px;
    }
  }

  .post {
    line-height: 1.5;
    margin-top: 40px;
    border-bottom: $default_border;
    text-align: center;
    &__title {
      font-family: $plex-mono;
      font-weight: 200;
      font-size: 25px;
      @media (max-width: $phone) {
        font-size: 20px;
      }
    }
    &__author {
      font-family: $plex-mono;
      font-weight: 100;
      font-size: 15px;
      font-style: italic;

    }
    &__body {
      display: inline-block;
      text-align: left;
      font-family: $plex-serif;
      font-weight: 400;
      margin-bottom: 10px;
      @media (max-width: $phone) {
        font-size: 12px;
      }
    }
    &__date {
      font-family: $plex-mono;
      font-weight: bold;
      @media (max-width: $phone) {
        font-size: 12px;
      }
    }
    &__time {
      font-family: $plex-mono;
      font-weight: lighter;
      @media (max-width: $phone) {
        font-size: 12px;
      }
    }
  }
  &--last {
    border-bottom: none;
  }
}
