$default_border: 1px solid black;
$plex-sans: 'IBM Plex Sans', sans-serif;
$plex-serif: 'IBM Plex Serif', serif;
$plex-mono: 'IBM Plex Mono', monospace;


$phone: 760px;

$red: #e55757;
$green: #3a9e4c;
$gray: #dddddd;
$light_gray: #8e8e8e;
